// @tailwind base;
@tailwind components;
@tailwind utilities;
@import '@duik/core/_vars.scss';

body {
    --text-main: #3e3f42;
    --text-secondary: #3e3f42;
    --text-base: #3e3f42;
}

// #__next {
//   @media only screen and (max-width: 600px) {
//     /*Tablets [601px -> 1200px]*/
//     width: 125%;
//   }
// }

/**
 Flex box with two columns
 columns side by side on desktop or larger
 convert to flex box row layout on tablet or smaller

 --

 inside second column:
 flex box which is a row on desktop 
 column on tablet or smaller

 scss ultilities for size
*/

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-container {
    background-color: #fbfbfd;
}

.vl {
    border-left: 1px solid var(--text-secondary);
    height: 25px;
    margin-left: 28px;
}

.header-secondary {
    color: var(--text-secondary);
}

.strong {
    font-weight: bold;
}

.box {
    display: flex;
}

.push {
    margin-left: auto;
}

.menu {
    margin-left: 20px;
    color: var(--text-tertiary);
    font-weight: bold;
}

.menu-item {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 600;
    color: #6b6c6f;
}

.icon {
    margin-top: 12px;
}

.banner {
    background-color: #fff;
    padding-top: 51px;
    padding-bottom: 55px;
    -webkit-box-shadow: 0px 1px 4px 0px #eaedf3;
    box-shadow: 0px 1px 4px 0px #eaedf3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-bar-input {
    width: 403px;
    padding-left: 20px;
    border: 1px solid #e2e5ed;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(102, 113, 123, 0.21);
    box-shadow: inset 0px 1px 2px 0px rgba(102, 113, 123, 0.21);
    border-radius: 4px 0px 0px 4px;
}

.search-bar-select {
    // width: 190px;
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(102, 113, 123, 0.21);
    box-shadow: inset 0px 1px 2px 0px rgba(102, 113, 123, 0.21);
}

.search-bar-button {
    font-weight: bolder;
    width: 136px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.21);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.21);
}

.popular-tags {
    display: flex;
    margin-top: 24px;
}

.popular-tags-span {
    font-size: 14px;
    color: #9ea0a5;
    line-height: 24px;
    margin-right: 8px;
}

.tags {
    background-color: #fbfbfd;
    border: 1px solid #eaedf3;
    border-radius: 50px;
    font-size: 14px;
    color: #3e3f42;
    padding: 4px 16px;
    font-weight: 400;
    margin-right: 6px;
}

.homecards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.homecards-card {
    width: 255px;
    height: 309px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.homecards-card img {
    width: 100px;
    margin-top: 40px;
    margin-bottom: 16px;
    display: block;
}

.homecards-cardtitle {
    font-size: 18px;
    font-weight: 500;
    color: #3e3f42;
    text-align: center;
}

.homecards-cardcaption {
    margin-top: 4px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: #6b6c6f;
    line-height: 22px;
    font-weight: 400;
}

.homecards-seemore {
    color: #1665d8;
    font-size: 14px;
}

.blog_container {
    // display: flex;
    // justify-content: center;
    // margin-top: 31px;
    // margin-bottom: 31px;
}

.posts_list {
    margin-right: 33px;
}

.posts_preview {
    background-color: #fff;
    display: flex;
    // max-width: 730px;
    margin-bottom: 20px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 33px;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.posts_title {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #3e3f42;
}

.posts_previewtext {
    font-size: 14px;
    // color: #9ea0a5;
    line-height: 22px;

    &-date {
        margin-top: 4px;
    }
}

.posts_previewimg {
    width: 62px;
    height: 62px;
    border: 1px solid #eaedf3;
    // margin: 0 29px auto 38px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.posts_seemore {
    font-size: 14px;
}

.categories_container {
    background-color: #fff;
    min-width: 350px;
    margin-bottom: 30px;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.categories_container_title {
    font-size: 18px;
    // line-height: 28px;
    padding: 23px 0 23px 30px;
    border-bottom: 1px solid #eaedf3;
}

.categories_container_item {
    padding-top: 17px;
    padding-bottom: 19px;
    border-bottom: 1px solid #eaedf3;
}

.ownnavlink_container {
    max-width: 350px;
    height: 60px;
    border-bottom: 1px solid #eaedf3;
    display: flex;
    align-items: center;
}

.ownnavlink_container_img {
    width: 38px;
    height: 38px;
    margin: 11px 16px 11px 30px;
}

.ownnavlink_container_title {
    margin-top: 0;
    font-size: 14px;
    color: #3e3f42;
    font-weight: 500;
}

.ownnavlink_container_span {
    margin-top: 0;
    font-size: 12px;
    color: var(--text-main);
    margin-left: auto;
    margin-right: 30px;
}

.post_container {
    padding: 28px 30px;
    // margin-right: 30px;
    background-color: #fff;
    // max-width: 730px;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

    & img {
        width: 100%;
    }
}

.post_container_title {
    font-size: 26px;
    // max-width: 730px;
    font-weight: 600;
    // margin-right: 30px;
}

.markdown_content img {
    width: 100%;
    height: 100%;
}

.markdown_content ul {
    margin-left: 35px;
}
